<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fingerprint Authentication</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/master.css" />
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h2>Fingerprint Authentication</h2>
      </div>
      <div class="menu">
        <div class="options fingerprint">
          Authentication
          <form id="authForm" action="/authentication" method="POST">
            <span><%= name %> enter your PIN</span><br />
            <label for="pin">PIN : </label>
            <input type="password" name="pin" id="pin" />
            <input
              type="button"
              onclick="submitForm('PIN')"
              value="Submit"
            /><br />
            <p id="errorMessage"></p>
            <% if (fingerprint) { %>
            <hr />
            OR
            <hr />
            <input
              type="button"
              onclick="submitForm('Fingerprint')"
              value="Fingerprint"
            />
            <% } %>
          </form>
          <span id="resultSpan"><%=result%></span><br />
          <% if (redirectOptions) { %>
          <a id="optionsButton" href="/options"
            ><button>Proceed to Options</button></a
          >
          <% } %>
        </div>
      </div>
    </div>
    <script>
      function submitForm(type) {
        document.getElementById("resultSpan").innerHTML = "";
        if (document.getElementById("optionsButton")) {
          document.getElementById("optionsButton").remove();
        }
        const authForm = document.getElementById("authForm");
        if (type === "PIN") {
          if (document.getElementById("pin").value == "") {
            document.getElementById("errorMessage").innerHTML =
              "No PIN entered.";
            return;
          } else {
            document.getElementById("errorMessage").innerHTML = "";
            authForm.submit();
          }
        } else {
          document.getElementById("pin").value = "";
          document.getElementById("errorMessage").innerHTML = "";
          authForm.submit();
        }
      }
    </script>
  </body>
</html>
