<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fingerprint Authentication</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/master.css" />
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h2>Fingerprint Authentication</h2>
      </div>
      <div class="menu">
        <div class="options fingerprint">
          <h5>Operations</h5>
          <h6>Hello, <%=name%></h6>
          <button>Deposit</button><br />
          <button>Withdraw</button><br />
          <form action="/options" method="POST">
            <input type="submit" value="Check Balance" />
          </form>
          <br />
          <% if (balance) { %>
          <span>Balance : ₹<%=balance%></span>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
