<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Registration</title>
    <link rel="stylesheet" href="../css/master.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="../jquery-1.8.2.js"></script>
    <script>
      function Capture() {
        document.getElementById("submitButton").disabled = true;
        try {
          var res;
          $.ajax({
            type: "POST",
            async: true,
            crossDomain: true,
            url: "http://localhost:5000/fingerCapture",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
              httpStatus = true;
              if (data.httpStatus) {
                if (data.errorDescription === "") {
                  document.getElementById("txtStatus").value =
                    "Successfully scanned";
                } else {
                  document.getElementById("txtStatus").value =
                    " ErrorDescription: " + data.errorDescription;
                }
                document.getElementById("fingerimg").src =
                  "data:image/bmp;base64," + data.bitMapData;
                document.getElementById("isoTemp").value = data.isoTemplate;
                document.getElementById("quality").value = data.quality;
                if (data.quality >= 80) {
                  document.getElementById("errorMessage").innerHTML = "";
                  document.getElementById("submitButton").disabled = false;
                } else {
                  document.getElementById("errorMessage").innerHTML =
                    "Fingerprint quality is low, please scan again!";
                }
              } else {
                alert(res.err);
              }
            },
            error: function (jqXHR, ajaxOptions, thrownError) {
              alert("Scanner not available, try again");
            },
          });
        } catch (e) {
          alert(e);
        }
        return false;
      }
      function clearFields() {
        document.getElementById("txtStatus").value = "";
        document.getElementById("fingerimg").src = "";
        document.getElementById("isoTemp").value = "";
        document.getElementById("quality").value = "";
        document.getElementById("errorMessage").innerHTML = "";
        document.getElementById("submitButton").disabled = false;
      }
    </script>
  </head>
  <body>
    <div class="container">
      <h2>Register</h2>
      <div class="reg-form">
        <form action="/register" method="POST" name="reg">
          <div>
            <label for="customerid">Customer ID: </label
            ><input
              type="text"
              value="<%=customerid%>"
              name="customerid"
              id="cid"
              readonly
            />
          </div>
          <div>
            <label for="name">Name: </label
            ><input type="text" id="cname" name="name" required />
          </div>
          <div>
            <label for="accno">Account Number: </label
            ><input
              type="text"
              value="<%=accno%>"
              id="ano"
              name="accno"
              readonly
            />
          </div>
          <div>
            <label for="cardno">Card Number: </label
            ><input
              type="text"
              value="<%=cardno%>"
              id="cno"
              name="cardno"
              readonly
            />
          </div>
          <div>
            <label for="acctype">Account Type: </label>
            <select id="atype" name="acctype">
              <option value="Savings">Savings</option>
              <option value="Current">Current</option>
            </select>
          </div>
          <div>
            <label for="fp">Fingerprint: </label
            ><input type="button" value="Capture" onclick="Capture()" /><input
              type="button"
              value="Clear Fingerprint"
              onclick="clearFields()"
            /><br />
            <img
              id="fingerimg"
              width="145px"
              height="188px"
              Falt="Finger Image"
              class="padd_top"
            />
            <p id="errorMessage"></p>
            <div>
              <label for="">Status : </label
              ><input type="text" value="" id="txtStatus" readonly />
            </div>
            <div>
              <label for="">Quality : </label
              ><input type="text" value="" id="quality" readonly />
            </div>
            <div>
              <textarea
                name="fingerprint"
                id="isoTemp"
                cols="30"
                rows="10"
                hidden
              ></textarea>
            </div>
          </div>
          <div>
            <label for="pin">PIN: </label
            ><input type="password" id="pin" name="pin" required />
          </div>
          <div></div>
          <div><input type="submit" id="submitButton" value="Register" /></div>
        </form>
      </div>
    </div>
  </body>
</html>
