<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Error 404!</title>
  <style media="screen">
    body {
      color : white;
      background: #1a1a1a;
      text-align: center;
      font-family: sans-serif;
    }

    h2 {
      margin: 20% auto;
    }
  </style>
</head>

<body>
  <h2>404 Not Found!<br>Sorry, we could not find what you were looking for.</h2>
</body>

</html>