<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Fingerprint Authentication</title>
  <link rel="stylesheet" href="../css/master.css">
  <script>
      function cursor(){
        document.getElementById('rfidtag').focus();
    }
  </script>
</head>

<body onload="cursor()">
  <div class="container">
    <div class="title">
      <h2>Fingerprint Authentication</h2>
    </div>
    <div class="menu">
      <div class="options rfid">
        RFID
        <form action="/index" method="POST"><input type="password" name="rfidtag" id="rfidtag" value=""></form>
      </div>
        <div class="options fingerprint">
          <%=result%>
        </div>
        <div class="options operation">
          Operation
        </div>
      </div>
  </div>
</body>
</html>