<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Error 404!</title>
    <style media="screen">
      body {
        color: white;
        background: #2d545e;
        text-align: center;
        font-family: sans-serif;
      }

      h2 {
        margin: 20% auto;
      }
    </style>
  </head>

  <body>
    <h2>
      Successfully registered.
      <br />
      <a href="/index"><button>Return to login</button></a>
    </h2>
  </body>
</html>
