<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="../css/styles.css">
    <!-- <script src="../mfs100-9.0.2.6.js"></script>
    <script src="../jquery-1.8.2.js"></script> -->
    <script>
    function Capture() {
  try {
        document.getElementById('txtStatus').value = "";
      document.getElementById('cid').value = "";
      document.getElementById('cname').value = "";
      document.getElementById('ano').value = "";
      document.getElementById('cno').value = "";
      document.getElementById('atype').value = "";
      document.getElementById('fingerimg').src = "data:image/bmp;base64,";
      document.getElementById('quality').value = "";
      document.getElementById('pin').value = "";
      document.getElementById('balance').value = "";

      var res = CaptureFinger(quality, timeout);
      if (res.httpStaus) {
            flag = 1;
          document.getElementById('txtStatus').value = "ErrorCode: " + res.data.ErrorCode + " ErrorDescription: " + res.data.ErrorDescription;

          if (res.data.ErrorCode == "0") {
              document.getElementById('fingerimg').src = "data:image/bmp;base64," + res.data.BitmapData;
              //var imageinfo = "Quality: " + res.data.Quality;
            //   + " Nfiq: " + res.data.Nfiq + " W(in): " + res.data.InWidth + " H(in): " + res.data.InHeight + " area(in): " + res.data.InArea + " Resolution: " + res.data.Resolution + " GrayScale: " + res.data.GrayScale + " Bpp: " + res.data.Bpp + " WSQCompressRatio: " + res.data.WSQCompressRatio + " WSQInfo: " + res.data.WSQInfo;
              //document.getElementById('txtImageInfo').value = imageinfo;
              //document.getElementById('txtIsoTemplate').value = res.data.IsoTemplate;
              var fpdata = res.data.IsoTemplate;
              document.getElementById('quality').value = res.data.Quality;
              //document.getElementById('txtAnsiTemplate').value = res.data.AnsiTemplate;
              //document.getElementById('txtIsoImage').value = res.data.IsoImage;
              //document.getElementById('pin').value = res.data.RawData;
              //document.getElementById('balance').value = res.data.WsqImage;
          }
      }
      else {
          alert(res.err);
      }
  }
  catch (e) {
      alert(e);
  }
  return false;
}</script>
   
</head>
<body>
        <div class="container">
            <div class="reg-form">
                <form action="/register" method="POST" name="reg">
                    <div><label for="customerid">Customer ID: </label><input type="text" id="cid"></div>
                    <div><label for="name">Name: </label><input type="text" id="cname"></div>
                    <div><label for="accno">Account Number: </label><input type="text" id="ano"></div>
                    <div><label for="cardno">Card Number: </label><input type="text" id="cno"></div>
                    <div><label for="acctype">Account Type: </label>
                            <select id="atype" name="types">
                                <option value="Savings">Savings</option>
                                <option value="Current">Current</option>
                            </select>
                    </div>
                    <div><label for="fp">Fingerprint: </label><input type="button" value="Capture" onclick="Capture()">
                        <table width="100%" style="padding-top:0px;">
                                <tr class="hide">
                                    <td width="150px" height="190px" align="center" class="img">
                                        <img id="fingerimg" width="145px" height="188px" Falt="Finger Image" class="padd_top" />
                                    </td>
                                </tr>
                                <br>
                                <tr class="hide">
                                    <tr class="hide">
                                        <td>
                                            Status:
                                        </td>
                                        <td>
                                            <input type="text" value="" id="txtStatus" />
                                        </td>
                                    </tr>
                                    <tr class="hide">
                                        <td>
                                            Quality:
                                        </td>
                                        <td>
                                            <input type="text" value="" id="quality"/>
                                        </td>
                                    </tr>
                                </tr>
                        </table>
                    </div>
                    <div><label for="pin">PIN: </label><input type="password" id="pin"></div>
                    <div><label for="balance">Balance: </label><input type="text" id="bal"></div>
                    <div><input type="submit" value="Register"></div>
                </form>
            </div>
        </div>

       
        
    
</body>
</html>